<!DOCTYPE html>
<html lang="fr" class="container-fluid h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Syntec Numérique & U Change">
    <meta name="description" content="Les solutions numériques pour répondre à la crise Covid-19">
    <meta name=“keywords” content="Covid-19, Coronavirus, Syntec Numérique, U Change">
    <meta property="og:url" content="{{ request.host_url }}">
    <meta property="og:title" content="Les solutions numériques pour répondre à la crise Covid-19">
    <meta property="og:description" content="Présente les acteurs du numérique présents sur le territoire français qui apportent des solutions concrètes et opérationnelles pour mieux gérer la situation de crise entraînée par le Covid-19">
    <meta property="og:image" content="{{ url_for("static", filename="img/thumbnail.png") }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for("static", filename="favicon/apple-icon-57x57.png") }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for("static", filename="favicon/apple-icon-60x60.png") }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for("static", filename="favicon/apple-icon-72x72.png") }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for("static", filename="favicon/apple-icon-76x76.png") }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for("static", filename="favicon/apple-icon-114x114.png") }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for("static", filename="favicon/apple-icon-120x120.png") }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for("static", filename="favicon/apple-icon-144x144.png") }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for("static", filename="favicon/apple-icon-152x152.png") }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("static", filename="favicon/apple-icon-180x180.png") }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for("static", filename="favicon/android-icon-192x192.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="favicon/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for("static", filename="favicon/favicon-96x96.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", filename="favicon/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ url_for("static", filename="favicon/manifest.json") }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for("static", filename="favicon/ms-icon-144x144.png") }}">
    <meta name="theme-color" content="#ffffff">
    <title>Les solutions numériques pour répondre à la crise Covid-19</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
</head>
<body class="d-flex flex-column h-100">
    <header class="header">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col text-center py-3">
                <a href="{{ url_for(".about") }}">
                    <img src="{{ url_for("static", filename="img/syntec.png") }}" height="100" alt="Syntec Numérique">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center text-white bg-info py-3">
                <div class="">
                    Les solutions numériques pour répondre à la crise Covid-19
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler collapsed" type="button"
                    data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-block d-sm-none font-weight-bold">
                {% if page == 'about' %}
                    <span>À propos</span>
                {% elif page == 'famille' %}
                    <span>Solutions familles</span>
                {% elif page == 'travail' %}
                    <span>Solutions travail</span>
                {% elif page == 'sante' %}
                    <span>Solutions patients</span>
                {% elif page == 'sante_pro' %}
                    <span>Professionnels de santé</span>
                {% endif %}
            </a>
            <div class="navbar-collapse collapse text-center font-weight-bold" id="navbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item{% if page == 'about' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('.about') }}">
                            À propos
                        </a>
                    </li>
                    <li class="nav-item{% if page == 'famille' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('.famille') }}">
                            Solutions Famille
                        </a>
                    </li>
                    <li class="nav-item{% if page == 'travail' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('.travail') }}">
                            Solutions Travail
                        </a>
                    </li>
                    <li class="nav-item{% if page == 'sante' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('.sante') }}">
                            Solutions Patients
                        </a>
                    </li>
                    <li class="nav-item{% if page == 'sante_pro' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('.sante_pro') }}">
                            Professionnels de santé
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% if categories %}
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler collapsed" type="button"
                    data-toggle="collapse" data-target="#subnavbar"
                    aria-controls="subnavbar" aria-expanded="false" aria-label="">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-block d-sm-none font-weight-bold">
                {% for category in categories %}
                    {% if subpage == category.key %}{{ category.value }}{% endif %}
                {% endfor %}
                {% if not subpage %}Toutes{% endif %}
            </a>
            <div class="navbar-collapse collapse text-center font-weight-bold" id="subnavbar">
                <ul class="navbar-nav mx-auto">
                    {% for category in categories %}
                        <li class="nav-item{% if subpage == category.key %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for(page, category=category.key) }}">
                                {{ category.value }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        {% endif %}
    </header>
    <main class="flex-shrink-0 p-3" role="main">
        {% block content %}

        {% endblock %}
    </main>
    <footer class="footer mt-auto">
        <div class="row">
            <div class="col text-center text-white bg-info py-2">
                Propulsé par
                <a href="https://motherbase.ai" target="_blank" class="">
                    <img src="{{ url_for("static", filename="img/motherbase.svg") }}" width="150" alt="Motherbase">
                </a>
            </div>
        </div>
    </footer>

    <script src="{{ url_for("static", filename="js/jquery.slim.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/popper.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/fontawesome.min.js") }}"></script>
    {% include "_tracking.html" %}
    {% block scripts %}{% endblock %}
</body>
