
<nav class="row navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler collapsed" type="button"
            data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-block d-md-none">
        {% if page == 'about' %}
            <span class="font-weight-bold">À propos</span>
        {% elif page == 'search' %}
            <span class="font-weight-bold">Recherche</span>
        {% else %}
            {% for workspace in workspaces %}
                {% if workspace.page == page %}
                    <span class="font-weight-bold">{{ workspace.name }}</span>
                    <span class="badge badge-light align-top">
                        {{ counts[workspace.id]|default(0) }}
                    </span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </a>
    <div class="navbar-collapse collapse text-center" id="navbar">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item{% if page == 'about' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('.about') }}">
                    <span class="font-weight-bold">À propos</span>
                </a>
            </li>
            <li class="nav-item{% if page == 'search' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('.search') }}">
                    <span class="font-weight-bold">Recherche</span>
                </a>
            </li>
            {% for workspace in workspaces %}
                <li class="nav-item{% if workspace.page == page %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('.getpage', page=workspace.page) }}">
                        <span class="font-weight-bold">{{ workspace.name }}</span>
                        <span class="badge badge-light align-top">
                            {{ counts[workspace.id]|default(0) }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
