
<form method="get" action="" class="w-100 mb-3">
    <div class="input-group">
        <input id="search" name="q" type="text" class="form-control"
               placeholder="Rechercher" value="{{ request.args.q }}">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
            {% if request.args.q %}
                <a class="btn btn-secondary"
                   href="{{ url_for("getmap", page=page, category=subpage, q=request.args.q) }}" type="button">
                    <i class="fa fa-map"></i>
                    Carte
                </a>
            {% else %}
                <a class="btn btn-secondary"
                   href="{{ url_for("getmap", page=page, category=subpage) }}" type="button">
                    <i class="fa fa-map"></i>
                    Carte
                </a>
            {% endif %}
        </div>
    </div>
</form>
