
{% if startups == None %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">
            <i class="fas fa-exclamation-triangle"></i>
            <span>Page en maintenance</span>
        </h4>
        <p class="mb-0">
            Une intervention technique (rechargement de données, mise à jour, résolution d'incident) est en cours.
        </p>
        <p class="mb-0">
            C'est pourquoi les données de cette page ne peuvent pas être affichées pour le moment.
        </p>
        <p class="mb-0">
            Cela ne devrait prendre que quelques minutes, merci de bien vouloir patienter...
        </p>
    </div>
{% else %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {% for startup in startups %}
            <div class="col mb-4">
                {% include "_startup.html" %}
            </div>
        {% endfor %}
    </div>
{% endif %}
