
<div id="legal-notice" class="fixed-bottom text-justify text-white bg-secondary p-2" style="display: none">
    <i class="fas fa-info-circle"></i>
    Ce site internet utilise des cookies afin d’améliorer la qualité de la navigation,
    d’évaluer et d’améliorer les contenus et de mesurer le trafic du site
    <a class="text-white" href="https://covidsyntecnumerique.fr">covidsyntecnumerique.fr</a>.
    <a class="text-white" href="{{ url_for(".legal") }}">Cliquez ici pour en savoir plus.</a>
    <button class="btn btn-sm btn-light float-right" onclick="accept(this);">J'ai compris</button>
</div>

<!-- Matomo -->
<script>
    let _paq = window._paq || [];
    _paq.push(['requireConsent']);
    _paq.push(['alwaysUseSendBeacon']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        let u = "https://stats.uchange.co/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        let d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        // Legal notice
        _paq.push([function() {
            if (document.cookie.match(/mtm_consent/)) {
                $('#legal-notice').remove();
            } else {
                _paq.push(['rememberConsentGiven', 8760]);
                _paq.push(['setConsentGiven']);
                $('#legal-notice').show();
            }
        }])
    })();
    function accept() {
        _paq.push(['rememberConsentGiven', 8760]);
        _paq.push(['setConsentGiven']);
        $('#legal-notice').remove();
    }
    function deny() {
        _paq.push(['rememberConsentGiven', 8760]);
        _paq.push(['forgetConsentGiven']);
        $('#legal-notice').remove();
    }
</script>
<!-- End Matomo Code -->
