{% extends "_base.html" %}

{% block content %}
    <div class="section jumbotron row">
        <div class="col-lg-auto text-center">
            <img class="img-fluid mb-3"
                 src="{{ url_for("static", filename="img/placeholder.png") }}"
                 style="max-height: 300px">
        </div>
        <div class="col-lg text-justify">
            <p>
                Ce site présente des acteurs du numérique présents sur le territoire français qui apportent des
                solutions concrètes et opérationnelles pour mieux gérer la situation de crise entraînée par le Covid-19.
            </p>
            <p>
                Les solutions sont réparties en cinq catégories :
                <ul>
                    <li>
                        des solutions
                        <a href="{{ url_for(".getpage", page="famille") }}">pour le grand public et les familles</a>,
                        pour mieux gérer le quotidien,
                    </li>
                    <li>
                        des solutions
                        <a href="{{ url_for(".getpage", page="travail") }}">pour les entreprises et les salariés</a>,
                        pour mieux s’adapter à un contexte professionnel de crise,
                    </li>
                    <li>
                        des solutions
                        <a href="{{ url_for(".getpage", page="sante") }}">médicales à destination des malades</a>,
                        ou de ceux qui craignent de l’être,
                    </li>
                    <li>
                        des solutions à destination
                        <a href="{{ url_for(".getpage", page="sante-pro") }}">des professionnels de santé</a>,
                    </li>
                    <li>
                        et des solutions et conseils de
                        <a href="{{ url_for(".getpage", page="securite") }}">sécurité</a>
                        liés à l'usage du numérique en situation de crise.
                    </li>
                </ul>
            </p>
            <p>
                Ce site est édité par <a href="https://syntec-numerique.fr/" target="_blank">Syntec Numérique</a>.
                Il s’appuie sur le sourcing (identification) automatique de solution
                <a href="https://motherbase.ai/" target="_blank">Motherbase.ai</a>.
            </p>
            <p class="small">
                Ce site référence automatiquement les acteurs porteurs de solutions, qu’ils soient ou non membres de
                Syntec Numérique, et qui ont effectué une démarche afin d’être référencés. Il est mis à jour en continu.
                <br />
                Le référencement est créé sur la base des éléments fournis par l’entreprise proposant sa solution.
                Il n’est pas exhaustif.
                <br />
                Syntec Numérique ne vérifie ni ne garantit la qualité des solutions des entreprises et ne peut en aucun
                cas voir sa responsabilité engagée au titre des prestations proposées par ces entreprises.
                <br />
                Syntec Numérique n’est pas impliqué dans votre processus de sélection de prestataire et n’est en aucun
                cas prescripteur des entreprises référencées.
            </p>
            <p class="small">
                Si vous souhaitez proposer votre solution, rien de plus simple, il vous suffit d’envoyer un tweet à
                <a href="https://twitter.com/covidsyntecnum" target="_blank">@CovidSyntecNum</a>
                décrivant votre offre depuis le compte de votre entreprise.
                <a href="{{ url_for(".legal") }}#howto">En savoir plus.</a>
            </p>
        </div>
    </div>
{% endblock %}
