{% extends "_base.html" %}

{% block content %}
    <div class="section jumbotron row">
        <div class="col-lg text-justify">
            <h3>Mentions légales</h3>
            <p>
                Ce site présente des acteurs du numérique présents sur le territoire français qui apportent des
                solutions concrètes et opérationnelles pour mieux gérer la situation de crise entraînée par le Covid-19.
            </p>
            <p>
                Il s’appuie sur le sourcing (identification) automatique de solution
                <a href="https://motherbase.ai" target="_blank">Motherbase.ai</a>.
            </p>
            <p>
                Le présent site est la propriété de Syntec Numérique, syndicat professionnel régi par le
                Livre 1er du Code du travail, dont le siège social est situé 148 boulevard Haussmann, 75008 Paris –
                tél. : <a href="tel:0033144304970">+33 (0)1 44 30 49 70</a>.
            </p>
            <p>
                Le directeur de la publication du site internet est Godefroy de Bentzmann, Président de Syntec Numérique.
            </p>
            <p>
                L’hébergement du site internet <a href="https://covidsyntecnumerique.fr">covidsyntecnumerique.fr</a>
                est assuré par la société OVH Cloud dont le siège social est situé
                2 rue Kellermann – 59100 Roubaix – France – tél. : <a href="tel:0033972101007">+33 (0)9 72 10 10 07</a>.
            </p>
            <p>
                Ce site référence automatiquement les acteurs porteurs de solutions, qu’ils soient ou non membres
                de Syntec Numérique. Il est mis à jour en continu.
            </p>
            <p>
                Le référencement est créé sur la base des éléments fournis par l’entreprise proposant sa solution.
                Il n’est pas exhaustif.
            </p>
            <p>
                Syntec Numérique ne vérifie ni ne garantit la qualité des solutions des
                entreprises et ne peut en aucun cas voir sa responsabilité engagée au titre des prestations proposées
                par ces entreprises. Syntec Numérique n’est pas impliqué dans votre processus de sélection de
                prestataire et n’est en aucun cas prescripteur des entreprises référencées.
            </p>
            <div id="howto" class="alert alert-info">
                <p>
                    <i class="fas fa-info-circle"></i>
                    Si vous souhaitez proposer votre solution, rien de plus simple, il vous suffit d’envoyer un tweet à
                    <a href="https://twitter.com/covidsyntecnum" target="_blank">@CovidSyntecNum</a>
                    avec les éléments suivants :
                </p>
                <ol>
                    <li>le nom de votre compte twitter,</li>
                    <li>
                        une rapide description de votre solution et en quoi elle peut aider dans la crise sanitaire actuelle,
                    </li>
                    <li>
                        la catégorie, et le cas échéant la sous-catégorie, qui correspond à votre solution
                        (1 seule possible) parmi :
                        <br />
                        #Famille #EntrepriseEtSalariés #Patients #ProfessionnelsDeSanté
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-lg text-justify">
            <h3>Utilisation des cookies</h3>
            <p>
                Le site internet <a href="https://covidsyntecnumerique.fr">covidsyntecnumerique.fr</a>
                utilise des cookies. Vous trouverez ci-dessous plus d’informations sur les cookies,
                la manière dont nous les utilisons et la façon dont vous pouvez en contrôler l’usage.
            </p>
            <h5>Qu'est-ce qu'un cookie ?</h5>
            <p>
                Le terme cookie couvre l’ensemble des fichiers textes non exécutables, traceurs, balises web et autres
                technologies déposés par notre site ou par des tiers, sous réserve de votre consentement et de la
                nécessité de ce dernier, lors de la consultation de notre site.
            </p>
            <h5>Pourquoi avons-nous recours à des cookies ?</h5>
            <p>
                Les cookies nous permettent notamment :
            </p>
            <ul>
                <li>d’améliorer la qualité de la navigation ;</li>
                <li>d’évaluer l’attrait des contenus publiés sur le site internet en vue de leur amélioration ;</li>
                <li>de mesurer le trafic sur le site internet.</li>
            </ul>
            <p>
                Vous trouverez ci-dessous la liste détaillée des cookies utilisés sur le site 
                <a href="https://covidsyntecnumerique.fr">covidsyntecnumerique.fr</a> :
            </p>
            <h6 class="text-center font-weight-bold">
                Traceur de mesure d'audience
            </h6>
            <table class="table table-striped table-bordered text-left">
                <thead class="text-center">
                    <tr class="thead-dark">
                        <th scope="col">Nom du cookie</th>
                        <th scope="col">Finalité</th>
                        <th scope="col">Durée de conservation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Tracking Matomo</td>
                        <td>
                            Ce cookie permet de suivre l'activité de l'utilisateur sur le site à des fins
                            statistiques et d'amélioration de l'expérience.
                        </td>
                        <td>13 mois</td>
                    </tr>
                </tbody>
            </table>
            <h5>Paramétrage général des cookies</h5>
            <p>
                <strong>Accepter les cookies</strong><br />
                Le dépôt d’un cookie nécessite votre consentement préalable. Vous pouvez à tout moment accepter ou
                refuser le dépôt d’un cookie ou encore modifier vos choix notamment en paramétrant vos cookies dans les
                réglages de votre navigateur.
            </p>
            <p>
                <strong>Désactiver les cookies</strong><br />
                Vous pouvez vous opposer au dépôt de cookies en les désactivant, de façon à empêcher leur installation
                sur votre terminal. Veuillez noter que le refus du dépôt de certains cookies ou leur désinstallation
                peuvent entraîner la désactivation de certaines fonctionnalités du site.
            </p>
            <p>
                Pour plus d’informations sur les cookies, vous pouvez vous rendre sur
                <a href="https://www.cnil.fr/fr/site-web-cookies-et-autres-traceurs" target="_blank">le site de la CNIL</a>.
            </p>
            <p>
                Pour vous aider dans la configuration, vous pouvez consulter la page dédiée aux cookies du navigateur
                que vous utilisez :
            </p>
            <ul>
                <li><a href="https://support.microsoft.com/fr-fr/help/4468242/microsoft-edge-browsing-data-and-privacy" target="_blank">Microsoft Edge</a></li>
                <li><a href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=fr" target="_blank">Google Chrome</a></li>
                <li><a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=activer-desactiver-cookies" target="_blank">Mozilla Firefox</a></li>
                <li><a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank">Opera</a></li>
                <li><a href="https://support.apple.com/en-in/guide/safari/sfri11471/mac" target="_blank">Safari</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
