{% extends "_base.html" %}

{% block content %}
    <form method="get" action="" class="mb-3">
        <div class="input-group">
            <input name="q" type="text" class="form-control" placeholder="Rechercher" value="{{ request.args.q }}">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    {% include "_startups.html" %}
{% endblock %}
